.role-card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* Reduced height for the boxes */
    text-align: center;
    width: 100%;
    /* Ensure full width within its column */
    word-wrap: break-word;
    /* Ensures the text wraps within the box */
}

.role-card:hover {
    transform: translateY(-10px);
}

/* Hotel Owner Section Hover - Darker Teal and Green */
.role-card:nth-child(1):hover {
    background: linear-gradient(135deg, #a5e677, #205f02);
    /* Darker teal-green */
}

/* Guide Section Hover - Darker Teal and Blue */
.role-card:nth-child(2):hover {
    background: linear-gradient(135deg, #006c74, #004e56);
    /* Darker teal-blue */
}

.separator {
    width: 1px;
    background-color: #ccc;
    height: 150px;
    /* Same height as the boxes */
    margin-top: 50px;
}

@media (max-width: 768px) {
    .separator {
        display: none;
    }
}

.text-center h1 {
    font-size: 3rem;
    font-weight: bold;
    
    /* Very subtle grey */
}

.text-center p {
    font-size: 1.25rem;
}

.role-card h2 {
    font-size: 1.75rem;
    /* Increased text size */
    color: white;
    /* White text color */
    word-wrap: break-word;
    /* Ensures the text wraps within the box */
}
