{% extends 'home/base.html' %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'myadmin/css/edit_user.csss' %}">
{% endblock styling %}  

{% block content %}
<div  style="background: url('{% static "images/bg-table.jpg" %}') no-repeat center center/cover; padding-top: 2rem; padding-bottom: 2rem;">
<div class="edit-user-container">
    <h1>Edit Profile for {{ user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="id_email">Email Address:</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="id_location">Location:</label>
            {{ form.location }}
        </div>

        <div class="form-group">
            <label for="id_birth_date">Birth Date:</label>
            {{ form.birth_date }}
        </div>

        <div class="form-group">
            <label for="id_travel_preferences">Travel Preferences:</label>
            {{ form.travel_preferences }}
        </div>

        <div class="form-group">
            <label for="id_favorite_destinations">Favorite Destinations:</label>
            {{ form.favorite_destinations }}
        </div>

        <div class="form-group">
            <label for="id_languages_spoken">Languages Spoken:</label>
            {{ form.languages_spoken }}
        </div>

        <div class="form-group">
            <label for="id_budget_range">Budget Range:</label>
            {{ form.budget_range }}
        </div>

        <div class="form-group">
            <label for="id_interests">Interests:</label>
            {{ form.interests }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-save">Save Changes</button>
            <a href="{% url 'admin_dashboard' %}" class="btn-cancel">Cancel</a>
        </div>
    </form>
</div>
</div>
{% endblock %}

