<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel World</title>
    <link rel="stylesheet" href="basestyle.css">
</head>
<body>
    <div class="hero-section">
        <img src="images/logo.jpg" alt="Travel World Logo" class="logo">
      
        <p>Your journey to explore the world begins here. Join us to experience adventure and culture like never before.</p>
        <a href="index.html" class="button">Click Here to Home Page</a>
    </div>
</body>
</html>
