General Body and Background
body {
    background-color: #f4f7fc; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #890808;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 10;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .row img,
header .row .col h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: .1rem;
    margin-top: 0;
}

header .row img {
    margin-right: 10px;
}

header .col.px-3 {
    flex: 1;
    max-width: 70%; 
    right: -100px; 
}

header .col.px-3 .d-flex {
    flex-wrap: nowrap; 
    justify-content: center; 
    gap: 15px; 
}

header .col.px-3 .d-flex a {
    padding: 0 8px;
    font-size: 1.1rem; 
    white-space: nowrap;
}

.content {
    padding-bottom: 60px;
}
