body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #eae9f8, #efe5e7);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y:normal ;
    overflow-x: hidden;
    position: relative;
    transition: background 0.3s ease;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 1000;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background:  rgba(255, 233, 233, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(10px);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: translateY(0) scale(1.05); }

.login-container h1 {
    font-size: 28px;
    font-weight:normal;
    color: #033660;
    margin-bottom: 20px;
    margin-top: -10px;
}

.login-container .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-container .form-group label {
    display: block;
    font-weight: 500;
    color: #141313;
    margin-bottom: 5px;
}

.login-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #f4e4e4;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.login-container .form-group input:focus {
    border-color: #060707;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
    transform: scale(1.02);
}

.errors p {
    color: red;
    font-size: 12px;
    margin: 5px 0;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #070908;
    color: rgb(255, 255, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #111412;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #a01010;
}

p a {
    color: #0a0d0f;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 40px; 
    background-color: black; 
    color: white;
    justify-content: center; 
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;}

    