<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'guide/css/forgot-pass.css' %}">

</head>
<body style="background: url('{% static 'images/bg_2.jpg' %}') no-repeat center center/cover; padding-top: 0; padding-bottom: 0; height: 100vh;"
>
    
    <div class="container">
        <div class="card">
            <h1>Reset your password</h1>
            <p>Don't worry, we've got your back! Just enter your email address and we’ll send you a link to reset your password.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email <span>please enter hotel email Id.</span></label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit" class="submit-btn">Submit</button>
                {% if error %}
                    <h4 style="color:red;">{{error}}</h4>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
