{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'guide/css/forgot-pass.css' %}">
</head>

<body style="background: url('{% static 'images/gl-bg.jpg' %}') no-repeat center center/cover; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Password</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
