{% extends 'home/base.html' %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'css/agentRegistration.css' %}">
{% endblock styling %}



{% block content %}

<div class="container-fluid" style="background: url('{% static "images/bg-table.jpg" %}') no-repeat center center/cover; padding-top: 5rem; padding-bottom: 5rem; height: calc(100vh - 20px); width: 100%;">
    <div class="text-center mb-5">
        <h1 class="display-4 " style="color: rgba(155, 221, 210, 0.87);">Who Are You?</h1>
        <p class="lead">Select your role to proceed:</p>
    </div>

    <div class="row justify-content-center align-items-center">
        <!-- First section: Hotel Owner -->
        <div class="col-12 col-md-5 text-center mb-4 mb-md-0">
            <div class="role-card p-4 shadow-lg rounded-lg text-center" style="cursor: pointer; background: linear-gradient(135deg, #a5e677, #205f02);" onclick="window.location.href='{% url 'hotel_login' %}'">
                <h2 class="h3 mb-4">Are you a Hotel Owner?</h2>
            </div>
        </div>

        {% comment %} <!-- Separator Line -->
        <div class="col-1 d-none d-md-block">
            <div class="separator" style="height: 150px; background-color: #ccc;"></div>
        </div> {% endcomment %}

        <!-- Second section: Guide -->
        <div class="col-12 col-md-5 text-center">
            <div class="role-card p-4 shadow-lg rounded-lg text-center" style="cursor: pointer; background: linear-gradient(135deg, #00bfae, #007f88);" onclick="window.location.href='{% url 'guide_login' %}'">
                <h2 class="h3 mb-4">Are you a Guide?</h2>
            </div>
        </div>
    </div>
</div>


{% endblock %}
