{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" 
     style="background: url('{% static "images/bg-table.jpg" %}') no-repeat center center/cover; 
            min-height: calc(100vh - 20px); 
            padding: 2rem;">

    <div class="text-center text-white">
        <h1 class="mb-4">Who Are You?</h1>
        <p class="mb-5">Select your role to proceed:</p>

        <div class="row">
            <!-- Hotel Owner Option -->
            <div class="col-md-5 d-flex flex-column align-items-center">
                <h2 class="mb-3">Are you a Hotel Owner?</h2>
                <a href="{% url 'hotel_login' %}" class="btn btn-primary btn-lg">Click Here</a>
            </div>
            
            <!-- Vertical Divider -->
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <div class="border border-light" style="height: 100px; width: 1px;"></div>
            </div>
            
            <!-- Guide Option -->
            <div class="col-md-5 d-flex flex-column align-items-center">
                <h2 class="mb-3">Are you a Guide?</h2>
                <a href="{% url 'guide_login' %}" class="btn btn-primary btn-lg">Click Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
