{% load static %}

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="row align-items-center">

            <img src="{{ MEDIA_URL }}travel_guide.png" alt="Travel Guide Logo" style="width: 80px; height: auto; margin-right: -10px;">


            <!-- Title Section -->
            <div class="col">
                <h3>TravelGuide</h3>
            </div>
            <!-- Centered Navigation Links -->
            <div class="col px-3">
                <div class="d-flex justify-content-center gap-3">
                    <a class="text-light text-decoration-none" href="#">Home</a>
                    <a class="text-light text-decoration-none" href="#">Accommodations</a>
                    <a class="text-light text-decoration-none" href="#">Gallery</a>
                    <a class="text-light text-decoration-none" href="#">Feedback</a>
                    <a class="text-light text-decoration-none" href="{% url 'admin_login' %}">Admin</a>
                </div>
            </div>
        </div>
    </div>
</header>