{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'Customer/css/forgot-pass.css' %}">
{% endblock styling %}
<div style="background: url('{% static 'images/bg_2.jpg' %}') no-repeat center center/cover; padding-top: 0; padding-bottom: 0; height: 100vh;">
{% block content %}
<div class="forgot-password-page">
    <div class="container">
        <h1>Reset your password</h1>
        <div class="register-container">
            <p>Don't worry, we've got your back! Just enter your email address, and we'll send you a link to reset your password.</p>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
