{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'customer/css/confirm.css' %}">
</head>
<div style="background: url('{% static 'images/bg_2.jpg' %}') no-repeat center center/cover; padding-top: 0; padding-bottom: 0; height: 100vh;">
    <div class="register-container">
        <div class="form-group">
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
