{% extends 'home/base.html' %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'Customer/css/forgot-pass.css' %}">
    {% comment %}
     <style>
        /* Specific styles for the Forgot Password page */
        .forgot-password-page .navbar,
        .forgot-password-page .footer {
            display: none;
        }

        /* Additional styling to ensure the form displays properly */
        .forgot-password-page .container {
            margin-top: 100px; 
            /* Adjust if needed */
        }
        
        /* Add some basic responsiveness */
        @media only screen and (max-width: 768px) {
            .forgot-password-page .container {
                margin-top: 50px;
            }
        }
    </style>
    {% endcomment %}
{% endblock styling %}


{% block content %}
    <div class="forgot-password-page">
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/icon.png' %}" alt="Logo" />
            </div>
            <h1>Reset your password</h1>
            <p>Don't worry, we've got your back! Just enter your email address and we'll send you a link to reset your password.</p>
            <div class="register-container">
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>

                        <div class="recaptcha">
                            <img src="{% static 'images/captcha_icon.png' %}" alt="Captcha Icon" class="captcha-icon">
                            <input type="checkbox" id="captcha" required>
                            <label for="captcha">I'm not a robot</label>
                        </div>

                        <p class="note">We're pretty sure you're not a toaster, but could you do the CAPTCHA just to make sure?</p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
